:root {
    --skills-bar: 0%;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

.habilidades{
    display: flex;
    box-sizing: border-box;
    height: 450px;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-top: 3rem;
}
.skills {
    height: auto;
    padding-top: 20px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
.skills h1, .hobbies h1{
    width: 100%;
    color: #fff;
}
.skills div {
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 31);
    width: 25%;
    padding: 0.5rem 0rem;
    border-radius: 10%;
    color: #fff;
    justify-content: center;
}


.hobbies{
    display: flex;
    padding-top: 20px;
    width: 40%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
}
.hobbies i { 
    font-size: 1.5rem;

}
.hobbies h5{
    padding-top: 0.5rem;
}
.hobbies div:last-child h5{
    padding: 0;
}
.hobbies div {
    margin-right: 1em;
    background-color: brown;
    width: 32%;
    max-width: 110px;
    border-radius: 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 25%;
    padding: 0.5rem;
    font-size: 1rem;
}
.musica:hover{
    animation: music .2s alternate infinite ; 
}
.video:hover{
    transform: scale(1.2,1.2);
}
.cocina:hover{
    transform: rotate(200deg);
}
.ingles:hover{
    transform: translateY(-5px);
}

.column, .skillsresponsive, .hobbies__content{
    display: none;
}


