:root {
    --skills-bar: 0%;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

.habilidades{
    display: flex;
    box-sizing: border-box;
    height: 450px;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-top: 3rem;
}
.skills {
    height: auto;
    padding-top: 20px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
.skills h1, .hobbies h1{
    width: 100%;
    color: #fff;
}
.skills div {
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 31);
    width: 25%;
    padding: 0.5rem 0rem;
    border-radius: 10%;
    color: #fff;
    justify-content: center;
}


.hobbies{
    display: flex;
    padding-top: 20px;
    width: 40%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
}
.hobbies i { 
    font-size: 2rem;
    margin-bottom: 0.5em;

}
.hobbies div {
    margin-right: 1em;
    background-color: brown;
    width: 25%;
    height: 30%;
    border-radius: 10%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}
.musica:hover{
    animation: music .2s alternate infinite ; 
}
.video:hover{
    transform: scale(1.2,1.2);
}
.cocina:hover{
    transform: rotate(200deg);
}
.ingles:hover{
    transform: translateY(-5px);
}

.column, .skillsresponsive, .hobbies__content{
    display: none;
}

@media only screen and (max-width: 620px){
    .habilidades{
        display: none;
    }
    .column{
        display: block;
        color: #fff;

    }
    .titles{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 30px;
    }
    .skills__tech{
        width: 15%;
        cursor: pointer;
    }
    
    .skillsresponsive {
        margin-top: 1rem;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(3.1fr);
        grid-template-rows: repeat(3, min-content);
        padding: 1rem 1rem;
    }
    
    .skills__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .skills__bar,
    .skills__bar::after {
        width: 175px;
        position: relative;
        height: 8px;
        background-color: #888;
        border-radius: .4rem;
        overflow: hidden;
    }
    
    .skills__bar::after {
        content: "";
        position: absolute;
        left: -175px;
        background-color: rgba(0, 255, 195, 0.701);
        transition: var(--transition);
        animation: style-bar 2s ease-in-out forwards;
    }
    
    /*--------------Para cada valor------------------------*/
    .skills__bar--80::after {
        --skills-bar: 80%;
        background-color: rgba(241, 101, 41, 133);
    }
    .skills__bar--70::after {
        --skills-bar: 70%;
        background-color: rgb(38, 77, 228);
    }
    .skills__bar--60::after {
        --skills-bar: 60%;
        background-color: rgb(247, 223, 30);
    }
    .skills__bar---50::after {
        --skills-bar: 50%;
        background-color:  rgb(65, 48, 0);
    }
    .skills__bar--50::after {
        --skills-bar: 50%;
        background-color: #000;
    }
    .skills__bar-50::after {
        --skills-bar: 50%;
        background-color: rgb(255, 232, 115);
    }
    .skills__bar----50::after {
        --skills-bar: 50%;
        background-color: rgb(0, 59, 87);
    }
    .skills__bar--40::after {
        --skills-bar: 40%;
        background-color: rgb(9, 45, 31);
    }
    .card__title1, .card__title2{
        font-weight: normal;
        background-color: transparent;
        color: #fff;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
    .card__title1{
        font-size: 1.35rem;
    }
    .vertical__line{
        width: 1px;
        border: 1px solid #fff;
        height: 100%;
    }
    .hobbies__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        text-align: center;
    }
    .hobbies__content h5{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 100;
    }
    .hobbies__content{
        display: none;
    }
    
    @keyframes style-bar {
        to {
            transform: translateX(var(--skills-bar));
        }
    
    }
}

