@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;

}
body {
    min-height: 100vh;
    background: #020202fa;
}


/*fondo principal*/

.containerFondo{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    border-radius: 50%;
    background: #07404d;
    box-shadow: 0 0 0 10px #07404d44,
                0 0 40px #07404d,
                0 0 100px #07404d;
    animation: burbujas 15s linear infinite;
    animation-duration: calc(50s/var(--i));

}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0 40px #ff2d75,
                0 0 100px #ff2d75;
}
@keyframes burbujas{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-5vh) scale(0.5);
    }
}
/*---fondo principal---*/

a {
    text-decoration: none;
    color: black;
}


.container {
    width: 100%;
    position: absolute;
    top: 0;

}
header{
    height: 100vh;
    width: 100%;
}
.navegacion {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}
.textos{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    text-align: center;
}
.textos a {
    margin-right: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.textos a:hover{
    border-bottom: 1px solid #ffff;
}
.presentacion {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.texto{
    margin-top: 4em;
    margin-left: 4em;
    width: auto;
    color: #fff;
    height: 430px;
}
.texto h1 {
    font-size: 180px;
    font-family: monospace;
    white-space: nowrap;    
    border-right: 4px solid;
    width: 600px;
    animation: typing 3s infinite steps(12) alternate ;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
}
.texto p{
    margin-top: 1em;
    width: 65%;
    font-size: 1.7rem;
    white-space: wrap;
}
.redes{
    width: 100%;
    margin-top: 2em;
    align-items: center;
    
}
.redes a {
    font-size: 20px;
 
    color: #fff;
}
.redes i {
    font-size: 18px;
    margin: 0 1rem 0 0.5rem;
}
.sobreMi {
    width: 100%;
    height: 300px;
    display: flex;
    color: #fff;
    justify-items: center;
    align-items: center;
    text-align: justify;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.text__titulo{
    width: 100%;
    height: 50px;
}
.text__titulo h2 {
    background: linear-gradient(#ff2d75, rgba(255, 0, 0, 0.781)) ;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: -1em;
    font-size: 1.8rem;
    
}
.sobreMi .text {
    width: 70%;
    margin-top: 0;
}
.imagen {
    width: auto;
    max-width: 215px;
    height: 75%;
    overflow: hidden;
    /* background: url('imagenes/perfilportfolio.jpg') no-repeat;
    background-size: 100%; */

}
.imagen img {
    object-fit: fill;
    height:97%;
    width: 100%;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: transparent;
}
.formacion {
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    color: #fff;
}
.formacion h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5em 0;
    color: transparent;
    font-size: 1.8rem;
    color: #fff;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #781c1c;

}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    width: 50%; 
    position: relative;   
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 10px
}
.content h3 {
    color: rgb(232, 23, 110);;
}
li h4{
    font-weight: 400;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(232, 23, 110);
    border-radius: 50%;
    box-shadow:  0 0 0 3px hsl(335, 82%, 40%);
    top: 24px;
    right: -6px;
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(232, 23, 110);
    border-radius: 50%;
    box-shadow:  0 0 0 3px hsl(335, 82%, 40%);
    top: 24px;
    left: -6px;
}
.unoFormacion{
    margin: 1rem  1rem;
    width: 50%;
    float: left;
    text-align: left;
    max-width: 235px;
}

.dosFormacion {
    margin: 1rem  1rem;
    width: 50%;;
    max-width: 235px;
    float: right;
    text-align: right;
}
.tresFormacion{
    margin: 1rem  1rem;
    width: 50%;
    max-width: 235px;
    float: left;
    text-align: left;
}
.cuatroFormacion{
    margin: 1rem  1rem;
    width: 50%;
    max-width: 235px;
    float: right;
    text-align: right;
}
.imagenresponsive{
    display: none;
}
.derecharesponsive{
    display: none;
}
.redes2{
    display: none;
}

