*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;

}
body {
    min-height: 100vh;
    background: #020202fa;
}


a {
    text-decoration: none;
    color: black;
}


.container {
    width: 100%;
    position: absolute;
    top: 0;

}
header{
    height: 100vh;
    width: 100%;
}
.navegacion {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}
.textos{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    text-align: center;
}
.textos a {
    margin-right: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.textos a:hover{
    border-bottom: 1px solid #ffff;
}
.presentacion {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
}
.texto{
    margin-top: 4em;
    margin-left: 4em;
    width: auto;
    color: #fff;
    height: 430px;
}
.texto h1 {
    font-size: 180px;
    font-family: monospace;
    white-space: nowrap;    
    border-right: 4px solid;
    width: 600px;
    animation: typing 3s infinite steps(12) alternate ;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
}
.texto p{
    margin-top: 1em;
    width: 60%;
    font-size: 1.8rem;
    white-space: wrap;
}
.redes{
    width: 100%;
    margin-top: 2em;
    align-items: center;
    
}
.redes a {
    font-size: 20px;
    margin-right: 1em;
    color: #fff;
}
.redes i {
    font-size: 18px;
    margin-left: 0.1em;
}
.sobreMi {
    width: 100%;
    height: 300px;
    display: flex;
    color: #fff;
    justify-items: center;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}
.sobreMi h2 {
    background: linear-gradient(#ff2d75, rgba(255, 0, 0, 0.781)) ;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.8rem;
}
.sobreMi .text {
    width: 70%;
    margin: 0% 2%;
    margin-top: -2rem;
    margin-left: 3rem;
}
.imagen {
width: 20%;
height: 200px;
overflow: hidden;
}
.imagen img {
    object-fit: contain;
    height:100%;
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: transparent;
}
.formacion {
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    color: #fff;
}
.formacion h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5em 0;
    font-size: 1.8rem;
    animation: tic 1.3s ;
    color: #fff;
}
@keyframes tic {
    0%{
        
        background: linear-gradient(to top, rgb(0, 0, 0) 80%, rgb(232, 23, 110)1%);
        -webkit-background-clip: text;
        color: transparent;
    }
    15%{
        
    background: linear-gradient(to top, rgb(0, 0, 0) 67%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    25%{
        
    background: linear-gradient(to top, rgb(0, 0, 0) 64%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    30%{
        
    background: linear-gradient(to top, rgb(0, 0, 0) 62%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    40%{
    background: linear-gradient(to top, rgb(0, 0, 0) 59%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    50%{
    background: linear-gradient(to top, rgb(0, 0, 0) 57%,rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }    
    55%{
    background: linear-gradient(to top, rgb(0, 0, 0) 55%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    60%{
    background: linear-gradient(to top, rgb(0, 0, 0) 50%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    65%{ 
    background: linear-gradient(to top, rgb(0, 0, 0) 45%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    70%{
    background: linear-gradient(to top, rgb(0, 0, 0) 40%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    85%{
    background: linear-gradient(to top, rgb(0, 0, 0) 35%, rgb(232, 23, 110)1%);
    -webkit-background-clip: text;
    color: transparent
    }
    100%{
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(232, 23, 110));
        -webkit-background-clip: text;
        color: transparent;
    }
}
.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    padding-top: 0;
    margin-top: 0;
    width: 1000px;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #781c1c;

}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    width: 50%; 
    position: relative;   
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 10px
}
.content h3 {
    color: rgb(232, 23, 110);;
}
.content h4{
    font-weight: lighter;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(232, 23, 110);
    border-radius: 50%;
    box-shadow:  0 0 0 3px hsl(335, 82%, 40%);
    top: 24px;
    right: -6px;
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(232, 23, 110);
    border-radius: 50%;
    box-shadow:  0 0 0 3px hsl(335, 82%, 40%);
    top: 24px;
    left: -6px;
}
.unoFormacion{
    margin: 1rem  1rem;
    width: 50%;
    float: left;
    text-align: left;
    max-width: 235px;
}

.dosFormacion {
    margin: 1rem  1rem;
    width: 50%;;
    max-width: 235px;
    float: right;
    text-align: right;
}
.tresFormacion{
    margin: 1rem  1rem;
    width: 50%;
    max-width: 235px;
    float: left;
    text-align: left;
}
.cuatroFormacion{
    margin: 1rem  1rem;
    width: 50%;
    max-width: 235px;
    float: right;
    text-align: right;
}

